<body id="home">
<div ng-bind-html="head"></div>
<button ng-click="publish()">Publish</button>
<button ng-click="edit()">Edit</button>

<div id="Container" ></div>
<div>_________________________________________________________________________________</div>
        
<script type="text/javascript">
//.ready(function(){
    // var $ace_inner = $('#ace_inner')

    // var html = $('#ace_inner').html().slice(22) 
    // console.log(html)
    // $('#epframeEditor').empty()
    // $('#epframeEditor').html(html)
    
    // $('#chatbox').empty() // sets the pad id and puts the pad in the div
    // $('#editorcontainer').attr("right","44px")
  //})
</script>
</body>
</html>
