<!DOCTYPE html>
<html ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <title>Colaborative Wiki</title>

    <script src="/static/wiki/js/jquery.min.js"></script>
    <script src="/static/wiki/js/core.js"></script>
    <script src="/static/wiki/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="/static/wiki/js/respond.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/dropdown.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/etherpad_lite/urlify.js"></script>
    <script type="text/javascript" src="/static/etherpad_lite/etherpad.js"></script>
    <script type="text/javascript" src="/static/angular/settings.js"></script>
    <script type="text/javascript" src="/static/angular/app.js"></script>
    <script type="text/javascript" src="/static/angular/router.js"></script>
    <script type="text/javascript" src="/static/angular/date.format.js"></script>

<div ng-view></div>
</html>