{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}

{% block wiki_contents %}


  {% addtoblock "js" %}
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
    <script>
// $(document).ready(function(){
      var BASE_URL = "http://127.0.0.1:8000/api/v1/"
      var mainApp = angular.module('mainApp', []);
      mainApp.controller('MainController', ['$scope', '$http', function ($scope, $http){
        $http.get( BASE_URL + "content/")
          .success(function(data){
            // console.log(data)
            $scope.data = data.objects
          })
      }]);

// submit article to database
// var data = JSON.stringify({
//     "body": "This will prbbly be my lst post.",
//     "pub_date": "2011-05-22T00:46:38",
//     "slug": "another-post",
//     "title": "Another Post"
// });

// $.ajax({
//   url: 'http://localhost:8000/api/v1/entry/',
//   type: 'POST',
//   contentType: 'application/json',
//   data: data,
//   dataType: 'json',
//   processData: false
// })

  </script>
  {% endaddtoblock %}

  <h1 class="page-header">{% trans "Articles in etherpad.openeconomics.academy" %}</h1>
  
  <button type="submit" name="reload" class="btn btn-primary btn-sm">
    {% trans "Reload" %} <span class="fa fa-refresh"></span>
  </button>
  {% trans "Search (full text)" %} <input ng-model="query" type="text"/>

    <table class="table table-striped">
      <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "is published" %}</th>
        <th>{% trans "Last modified" %}</th>
        <th>{% trans "" %}</th>
      </tr>
      {% verbatim %}
      <tr ng-repeat="article in data | filter:query">
        <td>
          <a href="{% url 'wiki:get' path=urlpath.path %}"> {{article.title}} </a> 
        </td>
        <td>
          <div></div> 
        </td>
        <td>
          <a href=""> {{article.modified}} </a> 
        </td>
        <td>
        {% endverbatim %}
              <a href="{% url 'wiki:get' path=parent_urlpath.path %}" class="btn btn-default btn-sm">
                {% trans "Edit: etherpad" %}
                <span class="fa fa-external-link"></span>
              </a>
              <button type="submit" name="save_changes" class="btn btn-primary btn-sm">
                {% trans "Publish" %}
                <span class="fa fa-check-square-o"></span>
              </button>
              <button type="submit" name="save_changes" class="btn btn-primary btn-sm">
                {% trans "Unpublish" %}
                <span class="fa fa-close"></span>
              </button>
        </td>
      </tr>

  </table>
{# {% include "wiki/includes/pagination.html" %} #}


{% endblock %}

