{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <div id="article-container">
    <ul class="nav nav-pills" id="article-menu">
      <li class="pull-left" id="article-title-li">
        <h1 id="article-title">
          {{ article.current_revision.title }}
          <small style="font-size: 14px;">
            {% if urlpath.parent %}
            <a href="{% url 'wiki:get' path=urlpath.path %}"><span class="fa fa-bookmark"></span> {{ urlpath.slug }}</a>
            {% endif %}
            {% if article.current_revision.locked %}
              <span class="fa fa-lock"></span> {% trans "locked" %}
            {% endif %}
          </small>
        </h1>
      </li>
      {% include "wiki/includes/article_menu.html" %}
    </ul>
    <div>
      {% block wiki_contents_tab %}
      {% endblock %}
    </div>
  </div>
  {% if urlpath.parent %}
      <div class="pull-left">
        <div class="btn-group">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px;" title="{% trans "Discussions for" %} {{ article.current_revision.title }}">
            <span class="fa fa-sitemap" style="margin-left: 5px;"> {% trans "Discussions" %}  </span>
            <span class="caret" style="margin-left: 5px;"></span>
          </a>
          <ul class="dropdown-menu">
            {% for child in children_slice %}
              <li>
                <a href="{% url 'wiki:get' path=child.path %}">
                  {{ child.article.current_revision.title }}
                </a>
              </li>
              {% empty %}
              <li><a href="#"><em>{% trans "No discussion yet" %}</em></a></li>
            {% endfor %}
            {% if children_slice_more %}
            <li><a href="#"><em>{% trans "...and more" %}</em></a></li>
            {% endif %}
            {# <li class="divider"></li> #}
          </ul>
        </div>
      </div>

      <div class="pull-left" style="margin-left: 10px;">
        <div class="btn-group">
          <a class="btn btn-info" href="{% url 'wiki:create' path=urlpath.parent.path %}" style="padding: 7px;" title="{% trans "New discussion" %} ">
            <span class="fa fa-file" ></span>
            <span class="fa" style="margin-left: 5px;">{% trans "Start new" %} </span> 
            <span class="fa fa-arrow-right" style="margin-left: 5px;"></span>
          </a>
        </div>
      </div>
    {% endif %}

{% endblock %}



{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
