{% load i18n %}
{% if urlpath %}
<div id="article-breadcrumbs">

<ul class="breadcrumb pull-left">
  {% for ancestor in urlpath.cached_ancestors %}
    <li><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
  {% endfor %}
  <li class="active">{{ article.current_revision.title|truncatechars:25 }}</li>
</ul>

<div class="pull-left" style="margin-left: 10px;">
  <div class="btn-group">
    </a>
        <a class="btn btn-info" href="{% url 'wiki:create' path=urlpath.path %}" style="padding: 7px;" title="{% trans "New article" %} ">
          <span class="fa fa-file"></span>
          <span class="fa fa-plus"></span>
        </a>
  </div>
</div>
<div style="clear: both"></div>
</div>
{% endif %}
